{% extends "layout.html" %}

{% block title%} Home {% endblock%}

{% block body%}

<div class = "backgroundimageforhome">
<div class = "textpositionhome">
<h1 class = "hometitle"> Welcome to "My Life"</h1>
<br> <br>
<h3 class = "subtitlehomepage"> A website that has many features each one more useful and interesting than the other:</h3>
<li  style = "color: #6F07A8" class = "hometext"> You can fill out a little form and get an entire webpage describing you where you can also upload your photo.</li>
<li  style = "color: #6CE820" class = "hometext"> Or you can also add your tasks to your to-do list and you can search for the task you want based on several factors.</li>
<li  style = "color: #FF178D" class = "hometext"> You can also take a look at our expenses page which offers 2 amazing financial tools to help you with your financial struggles.</li>
<li  style = "color: #1305E8" class = "hometext"> And don't forget to check out the little quiz at the end to enrich your knowledge with some new facts.</li>
</div>

</div>

{% endblock %}